name: Manual Multi Job Workflow

on:
  workflow_dispatch:
    inputs:
      run_tests:
        description: "Run the test job?"
        required: true
        type: choice
        options:
          - "yes"
          - "no"
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: |
          echo "Building..."
          echo "Build output"

  job4:
    runs-on: ubuntu-latest
    needs: [ job1 ]   # run after build + test succeed
    steps:
      - name: Done
        run: |
          echo "Done..."
          echo "${{ needs.job1.result }}"
  job5:
    runs-on: ubuntu-latest
    needs: [ job4 ]   # run after build + test succeed
    steps:
      - name: Done1
        run: |
          echo "Done1..."
  job6:
    runs-on: ubuntu-latest
    needs: [ job5 ]   # run after build + test succeed
    steps:
      - name: Done2
        run: |
          echo "Done2..."

  job2:
    runs-on: ubuntu-latest
    needs: job6
    if: ${{ github.event.inputs.run_tests == 'yes' }}
    steps:
      - name: Run tests
        run: |
          echo "Running tests..."

  job3:
    runs-on: ubuntu-latest
    needs: [ job2 ]   # run after build + test succeed
    steps:
      - name: Deploy
        run: |
          echo "Deploying..."

  job7:
    runs-on: ubuntu-latest
    needs: [ job1,job2,job3,job4,job5,job6 ]   # run after build + test succeed
    if: always() && ${{ 
     (needs.job1.result == 'success' || needs.job1.result == 'skipped') &&
     (needs.job2.result == 'success' || needs.job2.result == 'skipped') &&
     (needs.job3.result == 'success' || needs.job3.result == 'skipped') &&
     (needs.job4.result == 'success' || needs.job4.result == 'skipped') &&
     (needs.job5.result == 'success' || needs.job5.result == 'skipped') &&
     (needs.job6.result == 'success' || needs.job6.result == 'skipped')
      }}
    steps:
      - name: Done7
        run: |
          echo "Done7..."
          
