name: Manual Multi Job Workflow

on:
  workflow_dispatch:
    inputs:
      run_tests:
        description: "Run the test job?"
        required: true
        type: choice
        options:
          - "yes"
          - "no"
env:
  REPO_WORKPSPACE: ${{ github.workspace }}/${{ github.run_id}}
jobs:        
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          path: ${{ github.run_id }}
          
      - name: Build
        run: |
          echo ${GITHUB_WORKSPACE} $REPO_WORKSPACE
          echo "Building..."
          echo "Build output"

  job4:
    runs-on: ubuntu-latest
    needs: [ job1 ]   # run after build + test succeed
    steps:
      - name: Done
        run: |
          echo "Done..."
          echo ${GITHUB_WORKSPACE} $REPO_WORKSPACE
          echo "${{ needs.job1.result }}"
  job5:
    runs-on: ubuntu-latest
    needs: [ job4 ]   # run after build + test succeed
    steps:
      - name: Done1
        run: |
          echo "Done1..."

  job6:
    runs-on: ubuntu-latest
    needs: [ job5 ]   # run after build + test succeed
    steps:
      - name: Done2
        run: |
          echo "Done2..."

  job2:
    runs-on: ubuntu-latest
    needs: job6
    if: ${{ github.event.inputs.run_tests == 'yes' }}
    steps:
      - name: Run tests
        run: |
          echo "Running tests..."

  job3:
    runs-on: ubuntu-latest
    needs: [ job2 ]   # run after build + test succeed
    steps:
      - name: Deploy
        run: |
          echo "Deploying..."

         
  job7:
    runs-on: ubuntu-latest
    if: always() && ${{ 
      needs.job1.result != 'failure' &&
      needs.job4.result != 'failure' &&
      needs.job5.result != 'failure' &&
      needs.job6.result != 'failure' &&
      (
        github.event.inputs.run_tests == 'no' ||
        (github.event.inputs.run_tests == 'yes' && needs.job3.result != 'failure') 
      ) 
      }}
    needs: [ job1,job4,job5,job6,job3]   # run after build + test succeed
    steps:
      - name: Done7
        run: |
          echo "Done7..."
  job8:
    runs-on: ubuntu-latest
    if: always()
    needs:  [ job7]   # run after build + test succeed
    steps:
      - name: Done8
        run: |
          echo "Done8..."
          
