name: Manual Multi Job Workflow

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: |
          echo "Building..."
          echo "Build output"

  job2:
    runs-on: ubuntu-latest
    needs: job1 
    steps:
      - name: Run tests
        run: |
          echo "Running tests..."

  job3:
    runs-on: ubuntu-latest
    needs: [ job1, job2 ]   # run after build + test succeed
    steps:
      - name: Deploy
        run: |
          echo "Deploying..."

  job4:
    runs-on: ubuntu-latest
    needs: [ job1, job2, job3 ]   # run after build + test succeed
    steps:
      - name: Done
        run: |
          echo "Done..."
